@page "/Exercices/Solution/{exerciseId:Guid}"
@model Puroguramu.App.Pages.Exercices.SolutionModel
@{
    Layout = "_Layout";
}

<main class="min-h-screen flex flex-col items-center justify-center p-10 bg-gray-900 text-gray-100">
    <section class="w-full max-w-5xl bg-gray-800 p-8 md:p-10 rounded-xl shadow-xl transform hover:scale-105 transition-transform duration-300">
        <h1 class="text-4xl md:text-5xl font-extrabold text-white mb-6 border-b-2 border-gray-700 pb-4">
            Solution pour @Model.ExerciseTitle
        </h1>
        <pre class="bg-gray-900 p-6 rounded-lg text-white text-lg leading-relaxed shadow-inner">
            @Model.SolutionText
        </pre>
        <a href="~/Exercices/Exercice/@Model.ExerciseId" class="inline-block bg-blue-600 hover:bg-blue-700 text-white font-semibold py-3 px-6 rounded-lg mt-6 transition-colors duration-300 ease-in-out shadow-lg transform hover:translate-y-1">
            Retour à l'exercice
        </a>
    </section>
</main>