@page
@using Puroguramu.Infrastructures.Services
@model Puroguramu.App.Pages.Dashboard.studentDashboard

@{
    Layout = "_Layout";

// Préparer ViewData pour la vue partielle
    ViewData["NextExercisesByLesson"] = Model.NextExercisesByLesson;
}

<div class="flex-grow container mx-auto p-10">
    <h1 class="text-3xl font-bold mb-8 text-gray-100">Tableau de Bord
        de @Model.Student.FirstName @Model.Student.LastName</h1>

    <!-- Inclusion de la vue partielle pour les leçons -->
    <partial name="_StudentLessonPartial" model="Model.PublishedLessons"/>
</div>